{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "double"]
  }
}
